.form-row {
  display: flex;
  justify-content: center;
}

input.form-control .search-input {
  width: auto !important;
}
.search-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: gray;
}
